<form id="formCadContato">
    <input type="hidden" name="cartorio_cnpj" id="cartorio_cnpj" value="{{ cnpj }}">
    <div class="form-group">
        <label for="fone">Telefone:</label>
        <span class="error"></span>
        <input type="text" class="form-control" name="fone" id="fone">
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <span class="error"></span>
        <input type="email" class="form-control" name="email" id="email">
    </div>
</form>