<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cartorios</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
<header class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/">Cartorios</a>
        </nav>
    </div>
</header>
<div class="container" id="content">

</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" id="myModal"></div>

</body>
</html>
<script type="application/javascript" src="/js/jquery.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/template.js"></script>
<script type="application/javascript" src="/js/cartorio/listCartorios.js"></script>
<script type="application/javascript" src="/js/endereco/endereco.js"></script>
<script type="application/javascript" src="/js/contato/contato.js"></script>
<script type="application/javascript" src="/js/cartorio/cadCartorio.js"></script>
<script type="application/javascript" src="/js/tabeliao/cadTabeliao.js"></script>
<script type="application/javascript" src="/js/contato/cadContato.js"></script>
<script type="application/javascript">
    listCartorios();
</script>

